{% extends 'master.twig'%}
{% block content %}
    <div class="em_wide_content">
        <div class="row">
            <div class="col-12">
                <h4 class="f300">
                    My Snippets
                    <a href="/snippets">
                        <i class="fa fa-plus green float-right"></i>
                    </a>
                </h4>

                {% if snippets.length > 0 %}
                    <table class="table table-dark table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th style="width: 70px;"></th>
                                <th style="width: 120px;">Language</th>
                                <th style="width: 120px;">Age</th>
                                <th>Preview</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for snippet in snippets %}
                                <tr>
                                    <td class="actions center">
                                        <nobr>
                                            <a href="{{ snippet.url }}" class="fas fa-eye"></a>
                                            <a href="/snippets/edit/{{ snippet.hash }}" class="fas fa-pen"></a>
                                            <a
                                                id="delete-snippet"
                                                class="confirm-delete fas fa-trash text-danger pointer"
                                                data-target="{{ snippet.hash }}">
                                            </a>
                                        </nobr>
                                    </td>
                                    <td>{{ snippet.language }}</td>
                                    <td>{{ snippet.time_ago }}</td>
                                    <td style="color: #fff;">
                                        {{ snippet.snip|slice(0, 200)|e }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    You have not created any snippets.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

