{% extends 'master.twig'%}
{% block content %}
    <div class="em_wide_content">
        <div class="row">
            <div class="col-12">
                <h4 class="f300">My Snippets</h4>

                {% if snippets.length > 0 %}
                    <table class="table table-dark table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th style="width: 70px;">Actions</th>
                                <th style="width: 120px;">Language</th>
                                <th style="width: 120px;">Age</th>
                                <th>Preview</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for snippet in snippets %}
                                <tr>
                                    <td class="center">
                                        <nobr>
                                            <a href="{{ snippet.url }}">View</a> |
                                            <a href="/s/edit/{{ snippet.hash }}">Edit</a> |
                                            <a href="#" class="confirm-delete" data-hash="{{ snippet.hash }}">Delete</a>
                                        </nobr>
                                    </td>
                                    <td>{{ snippet.language }}</td>
                                    <td>{{ snippet.time_ago }}</td>
                                    <td style="color: #fff;">
                                        {{ snippet.snip|slice(0, 200)|e }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    You have not created any snippets.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bundles %}
    <script src="/js/master_extend_scripts/delete_snippet.js"></script>
{% endblock %}
