{% extends 'master.twig'%}
{% block content %}
    <div class="em_wide_content">
        <div class="row">
            <div class="col-12">
                <h4 class="f300">
                    Challenges
                    <small>
                        <a href="/admin/challenges/create">
                            <i class="fa fa-plus"></i>
                        </a>
                    </small>
                </h4>

                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="width: 90px;"></th>
                            <th style="width: 90px;">ID</th>
                            <th style="width: 120px;">Difficulty</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for challenge in challenges %}
                            <tr>
                                <td class="actions center">
                                    <a href="/admin/challenges/update/{{ challenge.challenge_id }}">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <a href="/challenges/choose_language/{{ challenge.challenge_id }}">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                                <td>{{ challenge.challenge_id }}</td>
                                <td>{{ challenge.difficulty_name }}</td>
                                <td>{{ challenge.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
