{% extends 'master.twig'%}
{% block title %}{{ user.display_name|e }} - Engineer Man{% endblock %}
{% block content %}
    <div style="padding: 30px 20px 15px 15px; text-align: center;">
        <div style="padding: 0px 50px; float: left; border-right: solid white 2px">
            <img src="{{ sails.glob.constant.gcloud_base_url }}{{ user.avatar_url }}" style="width: 128px; height: auto;" />
            <h4 class="f700">{{ user.display_name }}</h4>
            <h4 class="f900"><i class="fa fa-bolt"></i> {{ user.score }}</h4>
        </div>
        <div style="padding: 0px 20px; display: flex; justify-content: flex-start;">
            <h4>Activity Feed</h4>

            {% for question in user.questions %}
                {{ question.title }}
            {% endfor %}
        
        </div>
    </div>
{% endblock %}
