{% extends 'master.twig'%}
{% block bundles %}
    <script src="/lib/webpack/monaco.bundle.js?{{ sails.local.epoch }}"></script>
{% endblock %}
{% block content %}
    <div class="em_wide_content">
        <h4 class="f300">{{ script.title }}</h4>
        <div style="padding: 5px 10px; background: rgba(0,0,0,.5); font-family: monospace; margin-bottom: 10px;">bash <(curl -sSf {{ sails.config.base_url }}/exec/{{ script.cli_script_id }})</div>
        <div
            id="react_cli_script"
            data-content="{{ script.content|json_encode|e }}"
            data-snip="{{ snippet.snip|json_encode|noscript|e }}"
        ></div>
    </div>
{% endblock %}
