{% extends 'master.twig'%}
{% block css %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="challenge"></div>
    <script>
        ReactDOM.render(
            React.createElement(Challenge, {
                solved: {{ solved }},
                challenge: {{ challenge|json_encode }},
                language: '{{ language }}',
                monaco_language: '{{ monaco_language }}',
                abstract: {{ abstract|json_encode }},
                template: {{ template|json_encode }}
            }),
            document.getElementById('challenge')
        );
    </script>
{% endblock %}
