{% extends 'master.twig'%}
{% block content %}
    <div class="em_common_content em_language_choice">
        <div class="row marginbottom40">
            <div class="col-12 center">
                {% if challenge.difficulty == sails.glob.constant.challenges.difficulty.easy %}
                    <h2 class="easy">Easy: {{ challenge.name }}</h2>
                {% endif %}
                {% if challenge.difficulty == sails.glob.constant.challenges.difficulty.medium %}
                    <h2 class="medium">Medium: {{ challenge.name }}</h2>
                {% endif %}
                {% if challenge.difficulty == sails.glob.constant.challenges.difficulty.hard %}
                    <h2 class="hard">Hard: {{ challenge.name }}</h2>
                {% endif %}
                <h3 class="f300">How do you plan on crushing this challenge?</h3>
            </div>
        </div>
        <div class="row icons">
            <div class="col-4 col-sm-3 col-md-2 offset-md-1">
                <a href="/challenges/{{ challenge.challenge_id }}/js">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/js.svg" class="img-fluid" />
                </a>
                <h4>JavaScript</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <a href="/challenges/{{ challenge.challenge_id }}/python">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/python.svg" class="img-fluid" />
                </a>
                <h4>Python</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <a href="/challenges/{{ challenge.challenge_id }}/go">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/go.svg" class="img-fluid" />
                </a>
                <h4>Go</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <a href="/challenges/{{ challenge.challenge_id }}/c">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/c.svg" class="img-fluid" />
                </a>
                <h4>C</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <a href="/challenges/{{ challenge.challenge_id }}/ruby">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/ruby.svg" class="img-fluid" />
                </a>
                <h4>Ruby</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2 offset-md-1">
                <a href="/challenges/{{ challenge.challenge_id }}/cpp">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/cpp.svg" class="img-fluid" />
                </a>
                <h4>C++</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <a href="/challenges/{{ challenge.challenge_id }}/cs">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/cs.svg" class="img-fluid" />
                </a>
                <h4>C#</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
                <a href="/challenges/{{ challenge.challenge_id }}/php">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/php.svg" class="img-fluid" />
                </a>
                <h4>PHP</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2 offset-sm-3 offset-md-0">
                <a href="/challenges/{{ challenge.challenge_id }}/swift">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/swift.svg" class="img-fluid" />
                </a>
                <h4>Swift</h4>
            </div>
            <div class="col-4 col-sm-3 col-md-2 offset-4 offset-sm-0">
                <a href="/challenges/{{ challenge.challenge_id }}/java">
                    <img src="/images/lang_icons/{{ challenge.difficulty_name }}/java.svg" class="img-fluid" />
                </a>
                <h4>Java</h4>
            </div>
        </div>
    </div>
{% endblock %}
