{% extends 'master.twig' %}
{% block css %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
        .em_container {
            background: #1E1E1E;
        }
    </style>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="/js/sails.io.js"></script>
{% endblock %}
{% block content %}
    <div id="code_room"></div>
    <script>
        ReactDOM.render(
            React.createElement(CodeRoom, {
                hash: '{{ room.hash }}',
                code: {{ room.code|json_encode|noscript }},
                user_id: {{ req.glob.user_id ? req.glob.user_id : -1 }},
                read_only: !{{ req.glob.user_id ? req.glob.user_id : 0 }}
            }),
            document.getElementById('code_room')
        );
    </script>
{% endblock %}
