{% extends 'master.twig'%}
{% block content %}
    <div style="display: flex; padding: 20px 15px;">
        <div style="flex: 1;">
            {% if req.glob.user_id %}
                <a href="/questions/ask" class="btn btn-success btn-sm" style="float: right; color: #fff;">
                    Ask New Question
                </a>
            {% else %}
                <a onclick="login.open('/questions/ask')" class="btn btn-success btn-sm" style="float: right; color: #fff;">
                    Ask New Question
                </a>
            {% endif %}
            <h5 class="f700 marginbottom20">Newest Questions</h5>
            <div class="em_main_board">
                <div id="questions"></div>
                <script>
                    ReactDOM.render(React.createElement(BoardQuestions, {
                        questions: {{ questions|json_encode|noscript }}
                    }), document.getElementById('questions'));
                </script>
            </div>
        </div>
        <div style="width: 320px; padding: 0 15px;">
            <h5 class="f700" style="margin-bottom: 15px;">Top {{ users.length }} Contributors</h5>
            <div class="em_top_contributors">
                {% for user in users %}
                    <div class="contributor">
                        <img src="{{ req.glob.constant.gcloud_base_url ~ user.avatar_url }}" />
                        <a href="/@{{ user.username }}">
                            {{ user.display_name}}
                        </a>
                        <span>
                            {{ user.score }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
