{% extends 'master.twig'%}
{% block title %}{{ question.title|e }} - Engineer Man{% endblock %}
{% block desc %}{{ question.description|e }}{% endblock %}
{% block content %}
    <div class="em_question_outer">
        <div class="right">
            <h5 class="f700">Metadata</h5>
            <p>
                Views: 0<br />
                Participants: 0<br />
                Last Activity: 0
            </p>
        </div>
        <div class="left">
            <div id="question"></div>
            <script>
                ReactDOM.render(React.createElement(Question, {
                    question_id: {{ question.question_id }},
                    user_id: {{ question.user_id }},
                    score: {{ question.score }},
                    value: {{ question.vote != null ? question.vote.value : 'null' }},
                    time_ago: {{ question.time_ago|json_encode }},
                    title: {{ question.title|json_encode|noscript }},
                    question: {{ question.question|noscript }},
                    user: {{ question.user|json_encode|noscript }},
                    tags: {{ question.tags|json_encode }},
                    session_user_id: +'{{ req.glob.user_id }}',
                    is_staff: +'{{ req.glob.user.is_staff }}'
                }), document.getElementById('question'));
            </script>

            <h5 class="f700" style="margin-top: 40px;">{{ question.comments }} comments</h5>
            {% if req.glob.user_id %}
                <div id="create_comment"></div>
            {% endif %}
            <div class="em_comments">
                <div id="comments"></div>
                <script>
                    comments = ReactDOM.render(React.createElement(Comments, {
                        comments: {{ comments|noscript }}
                    }), document.getElementById('comments'));
                </script>
            </div>
            {% if req.glob.user_id %}
                <script>
                    ReactDOM.render(React.createElement(CreateEditComment, {
                        insert: comments.insert,
                        question_id: {{ question.question_id }},
                        parent_id: null
                    }), document.getElementById('create_comment'));
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}
