{% extends 'master.twig'%}
{% block content %}
    <div style="padding: 30px 20px 15px 15px;">
        <div style="float: right; width: 260px;">
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
            don't know what's gonna go here yetdon't know what's gonna go here yetdon't know what's gonna go here yet
        </div>
        <div style="position: relative; padding-right: 290px;">
            <div id="question"></div>
            <script>
                ReactDOM.render(React.createElement(Question, {
                    question_id: {{ question.question_id }},
                    score: {{ question.score }},
                    value: {{ question.vote != null ? question.vote.value : 'null' }},
                    time_ago: {{ question.time_ago|json_encode }},
                    title: {{ question.title|json_encode }},
                    question: {{ question.question }},
                    user: {{ question.user|json_encode }}
                }), document.getElementById('question'));
            </script>

            <div id="create_comment"></div>
            <h4 class="f700">{{ question.comments }} comments</h4>
            <div class="em_comments">
                <div id="comments"></div>
                <script>
                    comments = ReactDOM.render(React.createElement(Comments, {
                        comments: {{ comments }}
                    }), document.getElementById('comments'));
                </script>
            </div>
            <script>
                ReactDOM.render(React.createElement(CreateComment, {
                    insert: comments.insert,
                    question_id: {{ question.question_id }},
                    parent_id: null
                }), document.getElementById('create_comment'));
            </script>
        </div>
    </div>
{% endblock %}
