<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28939284-9"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-28939284-9');
        </script>

        <title>{% block title %}Engineer Man Knowledge Center{% endblock %}</title>

        <meta name="KEYWORDS" content="" />
        <meta name="DESCRIPTION" content="{% block desc %}Engineer Man is an intelligent new platform for quality discussion, questions, challenges, and learning.{% endblock %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta property="og:title" content="{% block title %}Engineer Man Knowledge Center{% endblock %}"/>
        <meta property="og:image" content="{{ sails.config.base_url ~ '/images/icon_square_642.jpg' }}"/>
        <meta property="og:description" content="{% block desc %}Engineer Man is an intelligent new platform for quality discussion, questions, challenges, and learning.{% endblock %}"/>
        <meta property="og:url" content="{{ sails.config.base_url ~ req.url }}" />

        {% block css %}
            <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
            <link href="//use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" />
            <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
            <link href="/lib/quill/quill.snow.css" rel="stylesheet">
            <link href="/lib/highlightjs/agate.css" rel="stylesheet">
            <link href="/css/master.css?{{ sails.glob.epoch }}" rel="stylesheet" />
        {% endblock %}

        {% block js %}
            <script src="/lib/jquery/jquery-3.0.0.min.js"></script>
            <script src="/lib/popper/popper.min.js"></script>
            <script src="/lib/bootstrap/bootstrap.min.js"></script>
            <script src="/lib/bootbox/bootbox.js"></script>
            <script src="/lib/react/react.production.min.js"></script>
            <script src="/lib/react/react-dom.production.min.js"></script>
            <script src="/lib/axios/axios.min.js"></script>
            <script src="/lib/highlightjs/highlight.pack.js"></script>
            <script src="/lib/highlightjs/highlight-ln.js"></script>
            <script src="/lib/quill/quill.min.js"></script>
            <script src="/js/master.js?{{ sails.glob.epoch }}"></script>
        {% endblock %}

        <script>
            ctx = {
                user_id: +'{{ req.glob.user_id ? req.glob.user_id : 0 }}',
                is_staff: +'{{ req.glob.user and req.glob.user.is_staff ? 1 : 0 }}',
            };
        </script>

        <link rel="icon" type="image/x-icon" href="/images/icon_64.png" />
    </head>
    <body>
        <div class="em_container">
            <div class="em_menu">
                <div class="brand_icon">
                    <a href="/board">
                        <img src="/images/icon_64.png" />
                    </a>
                </div>
                <div class="main_links">
                    <a href="/board">Questions</a>
                    <a href="/challenges">Challenges</a>
                    <a href="/community">Community</a>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Tools
                        </a>
                        <div class="dropdown-menu">
                            <!--<a class="dropdown-item" href="/coderoom/new">Code Room</a>-->
                            <h6 class="dropdown-header">Development</h6>
                            <a class="dropdown-item" href="/snippets">Snippets</a>
                        </div>
                    </div>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search..." />
                </div>
                {% if req.glob.user_id %}
                    <div class="user_meta">
                        <i class="fa fa-bolt"></i>
                        <span class="f900">{{ req.glob.user.score }}</span>
                        <div class="dropdown">
                            <img
                                src="{{ sails.glob.constant.gcloud_base_url }}{{ req.glob.user.avatar_url }}"
                                class="dropdown-toggle"
                                data-toggle="dropdown" />
                            <div class="dropdown-menu dropdown-menu-right">
                                <h6 class="dropdown-header">{{ req.glob.user.username }}</h6>
                                <a class="dropdown-item" href="/@{{ req.glob.user.username }}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="login">
                        <a onclick="login.open()">Login</a>
                    </div>
                {% endif %}
            </div>

            {% block content %}{% endblock %}
        </div>
        {% if not req.glob.user_id %}
            <div id="login"></div>
            <script>
                login = ReactDOM.render(React.createElement(Login), document.getElementById('login'));
            </script>
        {% endif %}
    </body>
</html>
