<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28939284-9"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-28939284-9');
        </script>

        <title>{% block title %}Engineer Man Knowledge Center{% endblock %}</title>

        <meta name="KEYWORDS" content="" />
        <meta name="DESCRIPTION" content="{% block desc %}Engineer Man Knowledge Center or EMKC is an intelligent new platform for quality discussion, questions, challenges, and learning.{% endblock %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta property="og:title" content="{% block title %}Engineer Man Knowledge Center{% endblock %}"/>
        <meta property="og:image" content="{{ sails.config.base_url ~ '/images/icon_square_64.png' }}"/>
        <meta property="og:description" content="{% block desc %}Engineer Man Knowledge Center or EMKC is an intelligent new platform for quality discussion, questions, challenges, and learning.{% endblock %}"/>
        <meta property="og:url" content="{{ sails.config.base_url ~ req.url }}" />

        {% block css %}
            <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
            <link href="//use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" />
            <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
            <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
            <link href="/lib/highlightjs/atom-one-dark.css" rel="stylesheet">
            <link href="/lib/webpack/main.bundle.css?{{ sails.local.epoch }}" rel="stylesheet" />
        {% endblock %}

        {% block js %}
            <script src="/lib/jquery/jquery-3.0.0.min.js"></script>
            <script src="/lib/popper/popper.min.js"></script>
            <script src="/lib/bootstrap/bootstrap.min.js"></script>
            <script src="/lib/highlightjs/highlight.pack.js"></script>
            <script src="/lib/highlightjs/highlight-ln.js"></script>
            <script src="/lib/bootbox/bootbox.js"></script>
        {% endblock %}

        <script>
            ctx = {
                cdn_url: '{{ req.local.constant.cdn_url }}',
                user_id: +'{{ req.local.user_id ? req.local.user_id : 0 }}',
                username: '{{ req.local.user.username }}',
                is_staff: +'{{ req.local.user and req.local.user.is_staff ? 1 : 0 }}',
            };
        </script>

        <link rel="icon" type="image/x-icon" href="/images/icon_circle_64.png" />
    </head>
    <body>
        <div class="em_container" style="position: relative;">
            <div class="em_menu">
                <div class="mobile_expand" onclick="mobile_nav.open()">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="brand_icon">
                    <a href="/">
                        <img src="/images/icon_circle_64.png" />
                    </a>
                </div>
                <div class="main_links">
                    <a href="/challenges">Challenges</a>
                    <a href="/contests">Contests</a>
                    <a href="/community">Community</a>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Tools
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/scripts">CLI Scripts</a>
                            <a class="dropdown-item" href="/snippets">New Snippet</a>
                            {% if req.local.user_id %}
                                <a class="dropdown-item" href="/snippets/mine">My Snippets</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="search" style="visibility: hidden;">
                    <input type="text" placeholder="Search..." />
                </div>
                {% if req.local.user_id %}
                    <div class="user_meta">
                        <i class="fa fa-bolt"></i>
                        <span class="f900">{{ req.local.user.score }}</span>
                        <div class="dropdown">
                            <img
                                src="{{ sails.local.constant.cdn_url }}{{ req.local.user.avatar_url }}"
                                class="dropdown-toggle"
                                data-toggle="dropdown" />
                            <div class="dropdown-menu dropdown-menu-right">
                                <h6 class="dropdown-header">{{ req.local.user.username }}</h6>
                                <a class="dropdown-item" href="/@{{ req.local.user.username }}">Profile</a>
                                {% if req.local.user.is_staff %}
                                    <a class="dropdown-item" href="/admin">Staff Area</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="login">
                        <a onclick="login.open()">Login</a>
                    </div>
                {% endif %}
            </div>

            {% if sails.twig.starts_with(req.path, '/admin') and req.local.user.is_staff %}
                <div class="em_staff_container">
                    Staff Stuff:
                    <a href="/admin/contests">Contests</a>
                </div>
            {% endif %}

            {% block content %}{% endblock %}

            <div class="f700 em_footer">
                <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
        <div id="react_mobile_nav"></div>
        {% if not req.local.user_id %}
            <div id="react_login"></div>
        {% endif %}
        {% block bundles %}{% endblock %}
        <script src="/lib/webpack/react.bundle.js?{{ sails.local.epoch }}"></script>
        <script src="/lib/webpack/main.bundle.js?{{ sails.local.epoch }}"></script>
    </body>
</html>
